{% extends 'layouts/base.html' %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="min-height-300 bg-primary position-absolute w-100"></div>

    {% include "includes/sidenav-rtl.html" %}

    <main class="main-content position-relative border-radius-lg ">

        {% include "includes/navigation-rtl.html" %}

        <div class="container-fluid py-4  align-center" dir="rtl">
            <div class="row">
                <div class="col-12">
                    <div class="card mb-4">
                        <div class="card-header pb-0">

                            <a href="{{ url_for('patients_blueprint.add_patient') }}" ,
                               class="btn btn-primary bg-success">הוספת מטופל חדש</a>
                        </div>

                        <div class="card-body px-0 pt-0 pb-2">
                            <div class="table-responsive p-0">
                                <table class="table align-items-center mb-0">
                                    <thead>
                                    <tr>
                                        <th class="text-uppercase text-secondary text-m font-weight-bolder opacity-7">
                                            תעודת זהות
                                        </th>
                                        <th class="text-uppercase text-secondary text-m font-weight-bolder opacity-7 ps-2">
                                            שם
                                        </th>
                                        <th class="text-center text-uppercase text-secondary text-m font-weight-bolder opacity-7">
                                            מספר מיטה
                                        </th>
                                        <th class="text-center text-uppercase text-secondary text-m font-weight-bolder opacity-7">
                                            מספר שיחות שבועיות
                                        </th>
                                        <th class="text-secondary opacity-7"></th>
                                        <th class="text-secondary opacity-7"></th>
                                        <th class="text-secondary opacity-7"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for patient in patients %}
                                        <tr>
                                            <td>
                                                <div class="d-flex px-2 py-1">

                                                    <div class="d-flex flex-column justify-content-center">
                                                        <h6 class="mb-0 text-sm">{{ patient.patient_id }}</h6>

                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <p class="text-m font-weight-bold mb-0">{{ patient.f_name }} {{ patient.l_name }}</p>

                                            </td>

                                            <td class="align-middle text-center">
                                                <span class="text-secondary text-m font-weight-bold">{{ patient.bed }}</span>
                                            </td>

                                            <td class="align-middle text-center">
                                                <span class="text-secondary text-m font-weight-bold">{{ patient.max_calls }}</span>
                                            </td>
                                            <td>
                                                <a class="btn btn-success btn-s m-0"
                                                   href="{{ url_for('patients_blueprint.patient_info',patient_id=patient.patient_id) }}"
                                                   role="button">פרטי המטופל</a>
                                            </td>
                                            <td><a href="/update_patient/{{ patient.patient_id }}"
                                                   class="btn btn-warning btn-s m-0" data-toggle="modal"
                                                   data-target="#modal_edit_patient{{ patient.patient_id }}">עריכה</a>
                                            </td>

                                            <td><a href="/delete_patient/{{ patient.patient_id }}"
                                                   class="btn btn-danger btn-s m-0" data-toggle="modal"
                                                   data-target="#modal_del_patient{{ patient.patient_id }}">מחיקה</a>
                                            </td>
                                        </tr>
                                        <!-- Edit patient modal!-->
                                        <div id="modal_edit_patient{{ patient.patient_id }}" class="modal fade"
                                             role="dialog">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h4 class="modal-title">עריכת מטופל</h4>
                                                        <button type="button" class="close"
                                                                data-dismiss="modal"
                                                                aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>

                                                    </div>
                                                    <div class="modal-body">
                                                        <form action="{{ url_for('patients_blueprint.update_patient',patient_id=patient.patient_id,form=form) }}"
                                                              method="POST" name="patients_list">
                                                            {{ patient_form.hidden_tag() }}
                                                            <div class="form-group">
                                                                {{ patient_form.f_name.label(class="form-control-label") }}
                                                                {{ patient_form.f_name(class="form-control",value=patient.f_name) }}

                                                            </div>

                                                            <div class="form-group">
                                                                {{ patient_form.l_name.label(class="form-control-label") }}
                                                                {{ patient_form.l_name(class="form-control",value=patient.l_name ) }}
                                                            </div>
                                                            <div class="form-group">
                                                                {{ patient_form.patient_id.label(class="form-control-label") }}
                                                                {{ patient_form.patient_id(class="form-control",disabled=True ,value=patient.patient_id) }}
                                                            </div>
                                                            <div class="form-group">
                                                                {{ patient_form.bed.label(class="form-control-label") }}
                                                                {{ patient_form.bed(class="form-control" ,value=patient.bed) }}
                                                            </div>
                                                            <div class="form-group">
                                                                {{ patient_form.max_calls.label(class="form-control-label") }}
                                                                {{ patient_form.max_calls(class="form-control" ,value=patient.max_calls) }}
                                                            </div>

                                                            <div class="form-group">
                                                                <button class="btn btn-primary" type="submit"
                                                                        name="patients_list">
                                                                    שמור שינויים
                                                                </button>
                                                            </div>
                                                        </form>


                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                                data-dismiss="modal">Close
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Delete patient modal!-->
                                        <div id="modal_del_patient{{ patient.patient_id }}" class="modal fade"
                                             role="dialog">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h4 class="modal-title">מחיקת מטופל</h4>
                                                        <button type="button" class="close"
                                                                data-dismiss="modal"
                                                                aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>

                                                    </div>
                                                    <div class="modal-body text-center">
                                                        <p class="text-lg mb-0">האם את\ה בטוח\ה שברצונך למחוק את
                                                            <span class="font-weight-bolder">{{ patient.f_name }} {{ patient.l_name }}</span>
                                                            מרשימת המטופלים?
                                                        </p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                                data-dismiss="modal">ביטול
                                                        </button>

                                                        <form method="POST"
                                                              action="{{ url_for('patients_blueprint.delete_patient',patient_id = patient.patient_id) }}">
                                                            <input class="btn btn-danger" type="submit" value="מחיקה">
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    {% endfor %}


                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% include "includes/footer.html" %}
            <div id="simpleModal" class="modal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Customer Details Form</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            I love ASPSnippets!
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>

        </div>

    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    <script>

        {##}
        {#$(document).ready(function () {#}
        {#    $("#del_patient_btn").click(function () {#}
        {#        $("#del_patient_modal").modal({show: true});#}
        {#    });#}

        {#function getDeleteModal(element){#}
        {#    var patient_id = element.value;#}
        {#    document.getElementById("patient_full_name").value = "hihih"#}
        {#alert(element.value);#}
        {#    $('#del_patient_modal').modal('show');#}
        {##}

    </script>

{% endblock javascripts %}
