{% extends 'layouts/base.html' %}

{% block title %} Billing {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div class="min-height-300 bg-primary position-absolute w-100"></div>

    {% include "includes/sidenav-rtl.html" %}

    <main class="main-content position-relative border-radius-lg overflow-hidden">
        {% include "includes/navigation-rtl.html" %}


        <div class="container-fluid py-4  align-center" dir="rtl">

            <!-- Patient info row -->
            <div class="row ">
                <div class="col-md-12">
                    <div class="card h-100">
                        <div class="card-header pb-0">
                        </div>
                        <div class="card-body">
                            <p class="text-uppercase text-sm">פרטי המטופל</p>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">{{ patient_form.f_name.label }}</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{ patient.f_name }}</p>
                                </div>
                            </div>
                            <hr class="horizontal dark">
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">{{ patient_form.l_name.label }}</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{ patient.l_name }}</p>
                                </div>
                            </div>
                            <hr class="horizontal dark">
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">{{ patient_form.patient_id.label }}</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{ patient.patient_id }}</p>
                                </div>
                            </div>
                            <hr class="horizontal dark">
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">{{ patient_form.bed.label }}</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{ patient.bed }}</p>
                                </div>
                            </div>
                            <hr class="horizontal dark">
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">{{ patient_form.department.label }}</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{ current_user.id }}</p>
                                </div>
                            </div>
                            <hr class="horizontal dark">
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">{{ patient_form.max_calls.label }}</p>
                                </div>

                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{ patient.max_calls }}</p>
                                </div>
                            </div>
                            <hr class="horizontal dark">


                            <button data-target="#edit_patient_modal" data-toggle="modal" class="btn btn-primary btn-sm ">
                                ערוך פרטי מטופל
                            </button>

                            <!-- Edit patient modal -->
                            <div id="edit_patient_modal" class="modal fade" role="dialog" dir="rtl">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title">עריכת מטופל</h4>
                                        </div>
                                        <div class="modal-body">
                                            <form method="POST"
                                                  action="{{ url_for('patients_blueprint.update_patient',patient_id=patient.patient_id) }}">
                                                <div class="form-group">
                                                    {{ patient_form.f_name.label(class="form-control-label") }}
                                                    {{ patient_form.f_name(class="form-control",value=patient.f_name) }}

                                                </div>

                                                <div class="form-group">
                                                    {{ patient_form.l_name.label(class="form-control-label") }}
                                                    {{ patient_form.l_name(class="form-control",value=patient.l_name ) }}
                                                </div>
                                                <div class="form-group">
                                                    {{ patient_form.patient_id.label(class="form-control-label") }}
                                                    {{ patient_form.patient_id(class="form-control" ,value=patient.patient_id) }}
                                                </div>
                                                <div class="form-group">
                                                    {{ patient_form.bed.label(class="form-control-label") }}
                                                    {{ patient_form.bed(class="form-control" ,value=patient.bed) }}
                                                </div>
                                                <div class="form-group">
                                                    {{ patient_form.max_calls.label(class="form-control-label") }}
                                                    {{ patient_form.max_calls(class="form-control" ,value=patient.max_calls) }}
                                                </div>

                                                <div class="form-group">
                                                    <button class="btn btn-primary" type="submit" name="patient_info">
                                                        שמירת שינויים
                                                    </button>
                                                </div>
                                            </form>

                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                    data-dismiss="modal">Close
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

            <!-- Contacts info -->
            <div class="row">
                <div class="col-md-12">
                    <!-- Contact info header -->
                    <div class="card mt-2">
                        <div class="card-header pb-0 p-3">
                            <div class="row">
                                <div class="col-6 d-flex align-items-center">
                                    <h6 class="mb-0">פרטי אנשי הקשר</h6>
                                </div>
                                <div class="col-6 text-start">
<!--                                <a class="btn bg-gradient-success mb-0" href="javascript:;"><i class="fas fa-plus" aria-hidden="true"></i>הוספת איש קשר חדש</a>-->
                                <button data-target="#add_new_contact_modal" data-toggle="modal" aria-hidden="true" class="btn bg-gradient-success mb-0">
                                הוספת איש קשר חדש
                                </button>
                                                                           <!-- add contact modal -->
                                            <div id="add_new_contact_modal" class="modal fade" role="dialog" dir="rtl">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h4 class="modal-title">הוספת איש קשר חדש חדש</h4>
                                                        </div>
                                                        <div class="modal-body" dir="rtl">
                                                                <form method="POST" action="{{ url_for('patients_blueprint.add_contact',patient_id=patient.patient_id) }}">
                                                                <div class="form-group">
                                                                    {{ contact_form.f_name.label(class="form-control-label") }}
                                                                    {{ contact_form.f_name(class="form-control" ) }}
                                                                </div>

                                                                <div class="form-group">
                                                                    {{ contact_form.l_name.label(class="form-control-label") }}
                                                                    {{ contact_form.l_name(class="form-control" ) }}
                                                                </div>

                                                                <div class="form-group">
                                                                    {{ contact_form.phone.label(class="form-control-label") }}
                                                                    {{ contact_form.phone(class="form-control" ) }}
                                                                </div>

                                                                <div class="form-group">
                                                                    {{ contact_form.mail.label(class="form-control-label") }}
                                                                    {{ contact_form.mail(class="form-control" ) }}
                                                                </div>

                                                                <div class="form-group" dir="rtl">
                                                                    {{ contact_form.priority.label(class="form-control-label") }}
                                                                    {{ contact_form.priority(class="form-control" ) }}
                                                                </div>

                                                                <div class="form-group">
                                                                    <button class="btn btn-primary" type="submit"> הוספת איש קשר חדש</button>
                                                                </div>

                                                            </form>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                </div>
                            </div>
                        </div>

                        <!-- Contact info body -->
                        <div class="card-body p-3">
                            {% for contact in patient.contacts %}
                                <ul class="list-group">
                                    <li class="list-group-item border-0 d-flex justify-content-around p-2 mb-1 bg-gray-100 border-radius-lg">
                                        <div class="col-md-5 mb-md-0 mb-4">
                                            <card class="card mt-2">
                                                <div class="d-flex flex-column">
                                                    <h6 class="mb-3 text-sm"> {{ contact.f_name }} {{ contact.l_name }} {{ contact.contact_id }} </h6>
                                                    <span class="mb-2 text-xs">איש קשר מועדף: <span class="text-dark font-weight-bold ms-sm-2"> {{ contact.priority }} </span></span>
                                                    <span class="mb-2 text-xs">מייל: <span class="text-dark ms-sm-2 font-weight-bold"> {{ contact.mail }} </span></span>
                                                    <span class="text-xs">טלפון : <span class="text-dark ms-sm-2 font-weight-bold"> {{ contact.phone }} </span></span>
                                                </div>
                                                <div class="ms-auto text-end">
                                                    <a class="btn btn-link text-danger text-gradient px-3 mb-0" data-target="#modal_del_contact{{ contact.contact_id }}" data-toggle="modal"
                                                       href="/delete_contact/{{ contact.contact_id }}">
                                                        <i class="far fa-trash-alt me-2" aria-hidden="true"></i>מחיקה
                                                    </a>


                                                    <a class="btn btn-link text-info text-gradient px-3 mb-0"
                                                       data-target="#model_edit_contact{{ contact.contact_id }}"
                                                       data-toggle="modal"
                                                       href="/update_contact/{{ contact.contact_id }}"><i
                                                            class="far fa-pencil-alt me-2"
                                                            aria-hidden="true"></i>עריכה</a>
                                                    <!-- Edit Contact modal -->
                                                    <div id="model_edit_contact{{ contact.contact_id }}"
                                                         class="modal fade"
                                                         role="dialog" dir="rtl">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h4 class="modal-title">עריכת איש
                                                                        קשר</h4>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <form method="POST" action="{{ url_for('patients_blueprint.update_contact',contact_id=contact.contact_id,contact_form=contact_form) }}">
                                                                        <div class="form-group">
                                                                            {{ contact_form.f_name.label(class="form-control-label") }}
                                                                            {{ contact_form.f_name(class="form-control",value=contact.f_name) }}

                                                                        </div>

                                                                        <div class="form-group">
                                                                            {{ contact_form.l_name.label(class="form-control-label") }}
                                                                            {{ contact_form.l_name(class="form-control",value=contact.l_name ) }}
                                                                        </div>
                                                                        <div class="form-group">
                                                                            {{ contact_form.phone.label(class="form-control-label") }}
                                                                            {{ contact_form.phone(class="form-control" ,value=contact.phone) }}
                                                                        </div>
                                                                        <div class="form-group">
                                                                            {{ contact_form.mail.label(class="form-control-label") }}
                                                                            {{ contact_form.mail(class="form-control" ,value=contact.mail) }}
                                                                        </div>
                                                                        <div class="form-group">
                                                                            {{ contact_form.priority.label(class="form-control-label") }}
                                                                            {{ contact_form.priority(class="form-control",value=contact.priority ) }}
                                                                        </div>

                                                                        <div class="form-group">
                                                                            <button class="btn btn-primary"
                                                                                    type="submit">
                                                                                שמירת שינויים
                                                                            </button>
                                                                        </div>

                                                                    </form>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button"
                                                                            class="btn btn-secondary"
                                                                            data-dismiss="modal">Close
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!-- Delete Contact modal!-->
                                                    <div id="modal_del_contact{{ contact.contact_id }}"
                                                         class="modal fade"
                                                         role="dialog">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h4 class="modal-title">מחיקת איש קשר</h4>
                                                                    <button type="button" class="close"
                                                                            data-dismiss="modal"
                                                                            aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>

                                                                </div>
                                                                <div class="modal-body text-center">
                                                                    <p class="text-lg mb-0">האם את\ה בטוח\ה שברצונך
                                                                        למחוק את
                                                                        <span class="font-weight-bolder">{{ contact.f_name }} {{ contact.l_name }}</span>
                                                                        מרשימת אנשי הקשר של
                                                                        {{ patient.f_name }} {{ patient.l_name }}
                                                                        ?
                                                                    </p>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary"
                                                                            data-dismiss="modal">ביטול
                                                                    </button>

                                                                    <form method="POST"
                                                                          action="{{ url_for('patients_blueprint.delete_contact',contact_id=contact.contact_id) }}">
                                                                        <input class="btn btn-danger" type="submit"
                                                                               value="מחיקה">
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </card>
                                        </div>
                                        <div class="col-md-5 mb-md-0 mb-4">
                                            <div class="card mt-4">
                                                <div class="card-body px-0 pt-0 pb-2">
                                                    <div class="table-responsive p-0 bg-gray-100 border-radius-lg"
                                                         dir="rtl">
                                                        <table class="table align-items-center mb-0">
                                                            <thead>
                                                            <tr>
                                                                <th class="text-uppercase text-secondary text-m font-weight-bolder opacity-7">
                                                                    יום
                                                                </th>
                                                                <th class="text-uppercase text-secondary text-m font-weight-bolder opacity-7 ps-2">  משעה  </th>
                                                                <th class="text-center text-uppercase text-secondary text-m font-weight-bolder opacity-7"> עד שעה </th>
                                                                <th class="text-primary opacity-7"></th>
                                                                <th type="button" class="text-primary opacity-7 btn btn-success float-right" data-toggle="modal" data-target="#add_contact_time_modal{{ contact.contact_id }}">
                                                                    הוספת שורה חדשה
                                                                </th>

                                                                                                    <div id="add_contact_time_modal{{ contact.contact_id }}" class="modal fade" role="dialog" dir="rtl">
                                    <div class="modal-dialog">
                                       <div class="modal-content">
                                          <div class="modal-header"> <h4 class="modal-title"> הוספת חלון זמן </h4> </div>
                                          <div class="modal-body">
                                             <form method="POST" action="{{ url_for('patients_blueprint.add_contact_time',contact_id = contact.contact_id) }}">
                                                <div class="row">
                                                   <div class="form-group col-md-3">
                                                      {{ contact_time_form.day.label(class="form-control-label") }}
                                                      {{ contact_time_form.day(class="form-control") }}
                                                   </div>
                                                   <div class="form-group col-md-3">
                                                      {{ contact_time_form.from_hour.label(class="form-control-label") }}
                                                      {{ contact_time_form.from_hour(class="form-control") }}
                                                   </div>
                                                   <div class="form-group col-md-3">
                                                      {{ contact_time_form.to_hour.label(class="form-control-label") }}
                                                      {{ contact_time_form.to_hour(class="form-control") }}
                                                   </div>
                                                   <div class="form-group">
                                                      <button class="btn btn-primary" type="submit"> שמירת  שינויים </button>
                                                   </div>
                                                </div>
                                             </form>
                                          </div>
                                          <div class="modal-footer">
                                             <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                          </div>
                                       </div>
                                    </div>
                                    </div>

                                                            </tr>
                                                            </thead>

                                                            <tbody>
                                                            {% for time in contact.contact_time %}
                                                                <tr>
                                                                    <td class="align-middle text-center">
                                                                        <span class="text-secondary text-m font-weight-bold">{{ time.day }}</span>
                                                                    </td>
                                                                    <td class="align-middle text-center">
                                                                        <span class="text-secondary text-m font-weight-bold">{{ time.from_hour }}</span>
                                                                    </td>
                                                                    <td class="align-middle text-center">
                                                                        <span class="text-secondary text-m font-weight-bold">{{ time.to_hour }}</span>
                                                                    <td>
                                                                    <td>
                                                                        <a data-target="#del_contact_time_modal{{ time.id }}" data-toggle="modal" class="btn btn-link text-danger text-gradient px-3 mb-0">
                                                                        <i class="far fa-trash-alt me-2"></i>מחיקה</a>

                                                                    </td>
<!--                                                                    <td type="button" class="text-primary opacity-7 btn-danger float-right" data-toggle="modal" data-target="#del_contact_time_modal{{ time.id }}}">-->
<!--                                                                    מחיקה-->
<!--                                                                    </td>-->
                                                                                                                  <!-- delete contact modal -->

                                                                </tr>
                                    <div class="modal fade" role="dialog" dir="rtl" id="del_contact_time_modal{{ time.id }}">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">מחיקת מטופל</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <p>האם את\ה בטוח\ה שברצונך למחוק את העדפות השעה של
                                                        {{ contact.f_name }}
                                                        ביום
                                                        {{ time.day }}
                                                        בשעה
                                                        {{ time.hour }}
                                                    </p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">ביטול</button>
                                                    <form method="POST" action="{{ url_for('patients_blueprint.delete_contact_time',time_id=time.id) }}">
                                                        <input class="btn btn-danger" type="submit" value="מחיקה">
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                                            <!-- Add  contact time modal -->

                                                            {% endfor %}



                                                            </tbody>
                                                        </table>





                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                </li>
                                </ul>
                            {% endfor %}
                    </div>


                </div>
            </div>
        </div>

        </div>


    </main>


{% endblock content %}


<!-- Specific JS goes HERE -->
{% block javascripts %}
    <script>
        {##}
        {#const time_button = document.getElementById("contact_time_modal_button");#}
        {#if (time_button){#}
        {#    time_button.addEventListener('click', () => {#}
        {#        $('#contact_time_modal_button').modal('show').modal('show');#}
        {#    })#}

        {#time_button.addEventListener("click",$('#contact_time_modal_button').modal('show'),false);#}
        {#if (time_button) {#}
        {#    time_button.addEventListener('click', () => {#}
        {#        var time = $(this).data('id');#}
        {#        alert("hihihih");#}
        {#         $(".modal-content #time_id_from_javascript").val(time);#}
        {#        #}
        {#        console.log('btn clicked');#}
        {#    });#}



        {#function click_event(){#}
        {#    const btn = document.getElementById('edit_contact_time_modal_a');#}
        {#    let time = $(btn).data('id');#}
        {#    alert(time);#}
        {#const btn = document.getElementById('edit_contact_time_modal_a');#}
        {#btn.addEventListener('click',function()#}
        {#    let time = $(btn).data('id');#}
        {#    #}

        {#ready(function()#}
        {#{#}
        {##}
        {##}
        {##}


        {#btn.addEventListener('click', function ()#}
        {#{#}
        {#    const time_id = $(this).data('id');#}
        {#    const user_url = {{ url_for('patients_blueprint.update_contact_time',time_id=time_id) | tojson }};#}
        {#    console.log(time_id);#}
        {#    });#}

    </script>
    {#    <script>#}
    {#$(document).ready(function()#}
    {#    {#}
    {#    $('.edit_contact_time').click(function(){#}
    {#        var time = $(this).data('id');#}
    {#const time_id = {{time|to_json}};#}
    {#        const user_url = {{ url_for('patients_blueprint.update_contact_time',time_id=time) | tojson }};#}
    {#        console.log(time);#}
    {#const user_url = {{ url_for("user", id=current_user.id)|tojson }}#}
    {#fetch("{{ url_for('patients_blueprint.update_contact_time',time_id=time_id) }}", {#}
    {#            fetch(user_url#}
    {#             )#}
    {#                 .then(response => response.json())#}
    {#                 .then(response => {#}
    {#                     console.log(response["data"]);#}
    {#                 });#}
    {#alert(time_id);#}
    {#    });#}
    {#    });#}
    {#</script>#}
{% endblock javascripts %}
