{% extends 'layouts/base.html' %}

{% block title %} Tables {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}


{% block content %}
    <div class="min-height-300 bg-primary position-absolute w-100"></div>

    {% include "includes/sidenav-rtl.html" %}

    <main class="main-content position-relative border-radius-lg overflow-hidden">
        <div class="row">
            <div class="col-md-7 mt-4">
                <div class="card">
                    <div class="card-header pb-0 px-3">
                        <h6 class="mb-0">פרטי אנשי קשר</h6>
                    </div>
                    <div class="card-body pt-4 p-3">
                        {% for contact in contacts %}
                            <ul class="list-group" dir="rtl">
                                <li class="list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg">
                                    <div class="d-flex flex-column">
                                        <h6 class="mb-3 text-m">{{ contact.f_name }} {{ contact.l_name }}</h6>
                                        <span class="mb-2 text-s">כתובת מייל<span
                                                class="text-dark font-weight-bold ms-sm-2">{{ contact.mail }}</span></span>
                                        <span class="mb-2 text-s">טלפון<span
                                                class="text-dark ms-sm-2 font-weight-bold">{{ contact.phone }}</span></span>
                                        <span class="text-s">עדיפות<span
                                                class="text-dark ms-sm-2 font-weight-bold">{{ contact.priority }}</span></span>
                                    </div>
                                    <div class="ms-auto text-end">
                                        <a data-target="#del_contact_modal" data-toggle="modal"
                                           class="btn btn-link text-danger text-gradient px-3 mb-0"><i
                                                class="far fa-trash-alt me-2"></i>Delete</a>
                                        <a class="btn btn-link text-dark px-3 mb-0" href="javascript:;"><i
                                                class="fas fa-pencil-alt text-dark me-2" aria-hidden="true"></i>Edit</a>
                                    </div>
                                </li>
                            </ul>

                            <!-- delete contact modal -->
                            <div class="modal" tabindex="-1" role="dialog" id="del_contact_modal">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">מחיקת מטופל</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>האם את\ה בטוח\ה שברצונך למחוק את
                                            {{ contact.f_name }} {{ contact.l_name }}
                                            מרשימת אנשי הקשר של
                                            {{ patient_id }}
                                        </p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">ביטול
                                        </button>

                                        <form method="POST"
                                              action="{{ url_for('patients_blueprint.delete_contact',contact_id=contact.contact_id) }}">
                                            <input class="btn btn-danger" type="submit" value="מחיקה">
                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>
                        {% endfor %}
                    </div>
                </div>

            </div>

        </div>
    </main>
{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}

{% endblock javascripts %}
