/*    CSS file generated for holding all the Events themes and special designs.      */

.prettyLabel {
    display: inline-block;
    width: 100%;
    text-align: right;
}

.eventTimes {
    text-align: left;
}

.fc-title {
    display: inline-block;
    width: 70%;
    text-align: right;
 }

